:root {
  /* Primary Color */
  --clr--bright-orange: hsl(31, 77%, 52%);
  --clr--dark-cyan: hsl(184, 100%, 22%);
  --clr--very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral Color */
  --clr--transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr--very-light-gray: hsl(0, 0%, 95%);

  /* Font-Size */
  --fs--base: 15px;

  /* Font-Family */
  --ff--primary: "Lexend Deca", sans-serif;
  --ff--secondary: "Big Shoulders Display", cursive;

  /* Font-Weight */
  --fw--regular: 400;
  --fw--bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--clr--very-light-gray);
  color: var(--clr--very-light-gray);
  font-family: var(--ff--primary);
  font-size: var(--fs--base);
  font-weight: var(--fw--regular);
  letter-spacing: 0.2rem;
}

.content {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cars__preview {
  margin-inline: 1.5rem;
  display: grid;
  grid-template-rows: auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cars__content {
  display: grid;
  gap: 1.3rem;
}

.cars__name {
  font-family: var(--ff--secondary);
  font-weight: var(--fw--bold);
  font-size: 36px;
}

.cars__details {
  line-height: 1.5rem;
}

.btn__sedan,
.btn__suvs,
.btn__luxury {
  padding: 0.6rem 1.7rem;
  border-radius: 1.5rem;
  text-decoration: none;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
  height: 50px;
}

.btn__sedan {
  color: var(--clr--bright-orange);
}
.btn__sedan:hover {
  color: var(--clr--very-light-gray);
  background-color: var(--clr--bright-orange);
  border: 2px solid var(--clr--very-light-gray);
}

.btn__suvs {
  color: var(--clr--dark-cyan);
}
.btn__suvs:hover {
  color: var(--clr--very-light-gray);
  background-color: var(--clr--dark-cyan);
  border: 2px solid var(--clr--very-light-gray);
}

.btn__luxury {
  color: var(--clr--very-dark-cyan);
}
.btn__luxury:hover {
  color: var(--clr--very-light-gray);
  background-color: var(--clr--very-dark-cyan);
  border: 2px solid var(--clr--very-light-gray);
}
.cars__sedan,
.cars__suvs,
.cars__luxury {
  padding: 2.5rem;
}

.cars__sedan {
  background-color: var(--clr--bright-orange);
}

.cars__suvs {
  background-color: var(--clr--dark-cyan);
}

.cars__luxury {
  background-color: var(--clr--very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
